
  .card {
    background-color: white;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 260px; /* cambiamos el ancho fijo a un porcentaje */
    height: 410px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: visible;
    margin: 20px;
    padding: 20px;
    
     /* flotamos las tarjetas a la izquierda */
  }
  .card:hover {
    transform: scale(1.1);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    
  }
  @media (max-width: 768px) {
    .card {
      width: 80%; /* cambiamos el ancho a 100% para que ocupe todo el ancho disponible en pantallas pequeñas */
      height: 400px; /* reducimos la altura para que se adapte a la pantalla */
      display: block; /* cambiamos el display a block para que las tarjetas se dispongan en bloques en lugar de en línea */
      float: none; /* quitamos el flotamiento para que las tarjetas se dispongan debajo de la anterior */
      margin: 40px ; /* agregamos un margen de 20px alrededor de la tarjeta y centramos en el eje horizontal */
    }
    .img{
      display: flex;
      width:100%;
      height: 50%;
    margin-bottom: 20px;
    }
  }


  .info{
    background-color:white;
    border:2px solid black;
    border-radius: 10px;
    width:auto ;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
  }

  .img{
    display: block;
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-radius: 10px;
  }
  .name {
    font-size: 23px;
    font-weight: bold;
    padding: 2px;
    margin:5px;
  }
  .subtitle{
    font-size: 15px;
    color: black;
    margin: 15px;
    font-weight: normal;
  }

  .button {
    position: absolute;
    float: right;
  top: 5px;
  right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    
  }
  
  .button:hover {
    background-color: #AB0003;
  }
  
  .button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }