.container{
    display: flex;
    justify-content: center;
    gap:5px;
    margin-top: 50px;
    padding: 50px;
}


@media (max-width: 768px) {
    .container{
        display: block;
        justify-content: space-between;
    }
}